.urlTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
}

.urlTable td {
    border: solid 1px #fab;
    width: 100px;
    word-wrap: break-word;
}
.urlTable th {
    border: solid 1px #fab;
    width: 100px;
    word-wrap: break-word;
}